.init {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 3px solid #000;
}
.init_title {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: 8px;
}
.canvas {
  width: 300px;
  height: 300px;
}
.tools {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.palette {
  display: flex;
  gap: 4px;
}
.palette > div {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #000;
}
.thickness {
  display: flex;
  align-items: center;
  gap: 4px;
}
.thickness > div {
  background-color: #000;
  border-radius: 50%;
}
.thickness_2 {
  width: 10px;
  height: 10px;
}
.thickness_4 {
  width: 16px;
  height: 16px;
}
.thickness_8 {
  width: 20px;
  height: 20px;
}
.red {
  background-color: #f00;
}
.yellow {
  background-color: #ff0;
}
.blue {
  background-color: #00f;
}
.black {
  background-color: #000;
}
